# Symfony application's path (absolute or relative)
SYMFONY_APP_PATH=../app
SYMFONY_IAM_PATH=../iam

# MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=mydb
MYSQL_USER=user
MYSQL_PASSWORD=userpass

# Timezone
TIMEZONE=Europe/Warsaw
